.contactcontainer {
    display: flex;
}
.sumbitbtn{
    background: none;
    padding: 0.50vw 2vw;
    font: 500;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border:2px solid white;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.sumbitbtn:hover{
    font-size: 13px;
    background: white;
    color: black;
    border: 2px solid white;
    overflow: hidden;
}
@media (max-width:770px) {
    .contactcontainer{
        display: none;
    }
    
}